[submodule "external/libfat"]
	path = external/libfat
	url = git@github.com:Kuruyia/libfat.git
[submodule "external/libiosuhax"]
	path = external/libiosuhax
	url = git@github.com:Kuruyia/libiosuhax.git
[submodule "external/universal-tween-engine"]
	path = external/universal-tween-engine
	url = git@github.com:Kuruyia/universal-tween-engine-cpp.git
